@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ExamenParcial3</h1>
    <p>Link al Reposotorio <a href="https://github.com/AViteDiaz18/DesarrolloAppsInternet">GitHub</a>.</p>  
    <img src="http://www.databasedev.co.uk/image/vehicle_details_data_model.jpg"/> 
    <p>Link al Modelo de Base de Datos <a href="http://www.databasedev.co.uk/vehicle_details_data_model.html">DataBaseDev</a>.</p>
</div>
