@model ExamenParcial2.Models.tblPayments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblPayments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IngPaymentID" />
            <div class="form-group">
                <label asp-for="IngBookingID" class="control-label"></label>
                <input asp-for="IngBookingID" class="form-control" />
                <span asp-validation-for="IngBookingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngCustomerID" class="control-label"></label>
                <input asp-for="IngCustomerID" class="form-control" />
                <span asp-validation-for="IngCustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngPaymentMethodID" class="control-label"></label>
                <input asp-for="IngPaymentMethodID" class="form-control" />
                <span asp-validation-for="IngPaymentMethodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="curPaymentAmount" class="control-label"></label>
                <input asp-for="curPaymentAmount" class="form-control" />
                <span asp-validation-for="curPaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memPaymentAmountComments" class="control-label"></label>
                <input asp-for="memPaymentAmountComments" class="form-control" />
                <span asp-validation-for="memPaymentAmountComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
